<html>
  <head>
    <title>My EDD</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
  </head>
  <body>
    ET for <%= et.et.strftime("%d. %B %Y") %>
    <br/>
    <%= "Today is #{et.now.strftime("%d. %B %Y")}" %>

    <div class="week"><%= "#{et.week}/#{et.day}" %></div>

    <%= "#{et.weeks_left} weeks, #{et.days_left} days until ET" %>
    <br/>
    <%= "#{et.week}th week" %>
    <br/>
    <%= "Your week changes on #{et.et.strftime("%A")}" %>


  </body>
</html>

