<h3>ET for <%= et.et.strftime("%F") %></h3>

<%= "Today is #{et.now.strftime("%F")}" %>
<br/>
<%= "Your week changes on #{et.et.strftime("%A")}" %>
<br/>
<%= "#{et.weeks_left} weeks, #{et.days_left} days until ET" %>
<br/>
<%= "#{et.week}/#{et.day}, #{et.week}th week" %>
