<%= "EDD is #{edd.edd.strftime("%d. %B %Y")}" %>
<br/>
<%= "Today is #{edd.now.strftime("%d. %B %Y")}" %>

<div class="week"><%= "#{edd.week}/#{edd.day}" %></div>

<% if edd.now > edd.edd %>
  <%= "EDD was #{-edd.weeks_left} weeks and #{-edd.days_left} days ago" %>
<% else %>
  <%= "#{edd.weeks_left} weeks, #{edd.days_left} days until EDD" %>
<% end %>
<br/>
<%= "#{edd.week + 1}th week" %>
<br/>
<%= "Your week changes on #{edd.edd.strftime("%A")}" %>
